/* 
    #393939 dark grey
    #FF5A09 Darkorange
    #F3843E Washed orange
    #FF9900 Sinappi orange
    #6E6E6E Vaalee harmaa
*/
body {
    background-color: #393939;
}
.mainboard {
    background-color: #6E6E6E;
    padding: 15px;

    width: 50%;
    margin: 0 auto;

    margin-top: 25%; 
}
.crafting-bar {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #FF9900;
}
.crafting-bar-progress {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: #FF5A09;
}